.navElement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002D62;
  padding: 20px;
}

.navLink a{
  text-decoration: none;
  color: white; 
  margin: 10px;
}

.navText{
  color: white;
  /* margin-left: 50px; */
}